* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}
body {
    font-family: monospace;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.form{
    width: 500px;
    height: 400px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ca3b3a;
}
#date {
    width: 220px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    outline: none;
    padding: 5px 8px;
    background-color: transparent;
    color: #ccc;
    border: none;
    border-bottom: 3px solid #ccc;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.form span {
    display: none;
    color: #ca3b3a;

}
.btn-play , .btn-reset { 
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 50px;
    border: none;
    border-radius: 8px;
    background-color: #ca3b3a;
    color: #222;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 1rem;
}
.btn-play:hover ,.btn-reset:hover {
    background-color:#555;
    color: #ccc;
}
.time-area{
    display: none;
    align-items: center;
    position: relative;
}
.time-area span{
    font-size: 4rem;
    font-weight: bold;
    color:#555;
    margin-top: -10px;
}
.time-area .area{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 150px;
}
.time-area .area div {
    width: 100%;
    height: 85%;
    font-size: 7.5rem;
    color: #ca3b3a;
}
.time-area .area span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
}
.btn-reset{
    bottom:-80px;
    margin-left: 40%;
    position: absolute;
    transition: none;
}
@media (max-width:500px){
    .form{
        max-width: 355px;
        height: auto;
    }
    .title{
        font-size: 1.7rem;
    }
    #date {
        width: 180px;
        font-size: 1.5rem;
        border-bottom: 2px solid #ccc;
        margin-top: 1.8rem;
    }
    .time-area{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .time-area span{
        display:none;
    }
    .time-area .area{
        width: 150px;
        height: auto;
    }
    .time-area .area div {
        font-size: 4rem;
    }
    .time-area .area span {
        display: block;
        font-size: 2rem;
    }
    .btn-play , .btn-reset { 
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 20px;
        border-radius: 5px;
        margin-top: 1rem;
    }
    .btn-reset{
        bottom:-50px;
        margin-left: 0px;
    } 
}